# DISABLE CACHING
#<IfModule mod_headers.c>
#	Header set Cache-Control "no-cache, no-store, must-revalidate"
#	Header set Pragma "no-cache"
#	Header set Expires 0
#</IfModule>

<IfModule mod_rewrite.c>
Options +FollowSymlinks
RewriteEngine On

#REWRITE RULES
#---------------------

#RULE ROOTPATH

RewriteRule ^$ /wordpress/index.php [L]

#RULE SUB-FOLDERS AND FILES
RewriteCond %{URL} wp-admin(.*)$ [OR]
RewriteCond %{URL} wp-content(.*)$ [OR]
RewriteCond %{URL} wp-includes(.*)$ [OR]
RewriteCond %{URL} .*\.php
RewriteRule ^(.*)$ /wordpress/$1 [L]

#RULE SHORT URLS
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{URL} !-d
RewriteCond %{URL} !-d
RewriteRule ^(.*)$ /wordpress/index.php?p=$1 [L]

#BEGIN WordPress
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
#END WordPress

</IfModule>

#<IfModule mod_rewrite.c>
#RewriteEngine on
#RewriteCond %{HTTP_HOST} ^(www.)?ashleyassists.com$
#RewriteCond %{REQUEST_URI} !^/wordpress/
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ /wordpress/$1
#RewriteCond %{HTTP_HOST} ^(www.)?ashleyassists.com$
#RewriteRule ^(/)?$ wordpress/index.php [L]
#</IfModule>