<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="RootPath" enabled="true" stopProcessing="true">
                    <match url="^$" ignoreCase="false" />
                    <action type="Rewrite" url="/wordpress/index.php" appendQueryString="true" />
                </rule>
                <rule name="Sub-folders and Files" enabled="true" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="wp-admin" />
                        <add input="{URL}" pattern="wp-content" />
                        <add input="{URL}" pattern="wp-includes" />
                        <add input="{URL}" pattern=".*\.php" />
                    </conditions>
                    <action type="Rewrite" url="/wordpress/{R:1}" appendQueryString="true" />
                </rule>
                <rule name="Short URLS" enabled="true" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions>		
                        <add input="{URL}" pattern="nc-content" negate="true" />
                        <add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/wordpress/index.php?p={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <!-- Set the default document -->			
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
		
</configuration>